<div class="container" *ngIf="{ value: counter$ | async } as counter">

  <app-display-contador></app-display-contador>

  <div class="btn">
    <h1>{{ counter.value }} </h1>

    <div class="btn-counter">
      <button (click)="incrementaContador()">Increment</button>
      <button (click)="decrementaContador()">Decrement</button>
    </div>

  </div>

  <div class="input-div">
    <input #inputContador type="text">
    <button (click)="definirContador(inputContador.value)">Definir</button>
  </div>
</div>
